.results > div {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	margin: 0 20px;
}

@media screen and (max-width: 900px) {
	.results {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.results {
		grid-template-columns: repeat(1, 1fr);
	}
}
